<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css" rel="stylesheet">
    <title> Bill Split Page </title>

    
</head>

<body>
    <h1 class="text-4xl font-bold my-8 p-4">Split the items</h1>

    <h3 class ="p-4">Please select items you wish to pay for. </h3>
    <p class="p-4 text-gray-600	"> Green: <i>Your Items</i>, Red: <i>Items selected by other session customers</i>, White: <i>Unselected</i></p>

    <div class="p-4"> 
        <button class = "bg-green-600 mt-3 p-4 w-6/12"> Item: Apple | Quantity: 2 | Price: $3.30 </button> <br>
        <button class = "bg-red-600 mt-8 p-4 w-6/12"> Item: Banana | Quantity: 1 | Price: $0.50 </button><br>
        <button class = "bg-green-600 mt-8 p-4 w-6/12"> Item: Pear | Quantity: 5 | Price: $5.50 </button><br>
        <button class = "bg-red-600 mt-8 p-4 w-6/12"> Item: Cantaloupe | Quantity: 3 | Price: $4.50 </button><br>
        <button class = "bg-white-600 mt-8 p-4 w-6/12" style="border-color: black"> Item: Pineapple | Quantity: 4 | Price: $5.99 </button>

    </div>
</body>

</html>